# ===== Python =====
__pycache__/
*.pyc

# ===== Virtual environment =====
.venv/
venv/
.env

# ===== AI / ML (skip for now) =====
AI_test/
ai_multi_models.py
Train/
*.pkl
*.joblib
*.csv

# ===== OS files =====
.DS_Store
Thumbs.db

.vscode/
CGA_*.csv