Flask>=2.3.3
Werkzeug>=2.3.3
mysql-connector-python>=8.2.0
python-dotenv>=1.0.0
supabase>=2.0.0
pandas>=2.1.4
numpy
joblib
scikit-learn
hmmlearn
matplotlib>=3.8.2
requests
line-bot-sdk
gunicorn
waitress
